!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Altura Soluciones
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %meta{:content => "React.js, React Native, Rails, Lean, Agile, Development", :name => "keywords"}
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i,900|Montserrat:400,700|PT+Serif", :rel => "stylesheet", :type => "text/css"}
  %body
    = yield